To validate my strategy, I conducted a Shadow Price Back-test on identified **66** products to ensure our price changes are safe and profitable. I simulated a **5%** price adjustment and used Elasticity to predict how much the sales volume would naturally drop. I then checked if this new volume stayed within the Confidence Interval (2 Standard Deviations) of historical store performance. This confirms that our plan is realistic and won't cause an extreme sales crash.

- 5% increase in products price using a -1.2 elasticity constant to predict volume changes.

- Used 2-Sigma Confidence Intervals to ensure predicted sales remain within historical store norms.

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\dimpu\OneDrive\Desktop\retail data.xlsx')
df.head()

,Customer_ID,Customer_Name,city,state,country,product_name,category,storekey,Store_State,Store_Country,Total_Quantity,Unit_Cost_USD,Unit_Price_USD,Total_Cost,Total_Sales,Gross_Profit,Gross_Margin
0,117386,Christopher Currie,WAMBERAL,New South Wales,Australia,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,1,Australian Capital Territory,Australia,2,9.06,10.0,18.12,20.0,1.88,0.09
1,122096,Alannah Wolinski,PAMPAS,Queensland,Australia,WWI Laptop8.9 E0089 Black,Computers,6,Western Australia,Australia,4,5.40,10.0,21.60,40.0,18.40,0.46
2,125236,Jordan Sissons,MORNINGTON ISLAND,Queensland,Australia,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,1,Australian Capital Territory,Australia,1,9.06,10.0,9.06,10.0,0.94,0.09
3,127417,Elizabeth Brookman,RIDDELLS CREEK,Victoria,Australia,WWI Laptop8.9 E0089 Black,Computers,5,Victoria,Australia,7,5.40,10.0,37.80,70.0,32.20,0.46
4,211809,Alexander Norman,Windsor,Ontario,Canada,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,10,Nunavut,Canada,1,9.06,10.0,9.06,10.0,0.94,0.09

# High Sales Low Profit products price adjustments

In [3]:
top_performing_quantile=df['Total_Sales'].quantile(0.75)
top_performing_quantile

54.085

In [4]:
low_performing_quantile=df['Gross_Profit'].quantile(0.25)
low_performing_quantile

5.93

In [5]:
target_products=df[(df['Total_Sales']>top_performing_quantile) & (df['Gross_Profit']<low_performing_quantile)]['product_name']
tp=target_products.drop_duplicates()
tp.shape

(39,)

In [6]:
HS_LP=df[df['product_name'].isin(tp)]

In [7]:
HS_LP.head()

,Customer_ID,Customer_Name,city,state,country,product_name,category,storekey,Store_State,Store_Country,Total_Quantity,Unit_Cost_USD,Unit_Price_USD,Total_Cost,Total_Sales,Gross_Profit,Gross_Margin
0,117386,Christopher Currie,WAMBERAL,New South Wales,Australia,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,1,Australian Capital Territory,Australia,2,9.06,10.0,18.12,20.0,1.88,0.09
2,125236,Jordan Sissons,MORNINGTON ISLAND,Queensland,Australia,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,1,Australian Capital Territory,Australia,1,9.06,10.0,9.06,10.0,0.94,0.09
4,211809,Alexander Norman,Windsor,Ontario,Canada,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,10,Nunavut,Canada,1,9.06,10.0,9.06,10.0,0.94,0.09
5,233855,Donald Smith,Spencerville,Ontario,Canada,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,0,Online,Online,1,9.06,10.0,9.06,10.0,0.94,0.09
6,238678,Antonio Petersen,Medicine Hat,Alberta,Canada,NT Wireless Bluetooth Stereo Headphones M402 S...,Audio,10,Nunavut,Canada,4,9.06,10.0,36.24,40.0,3.76,0.09

In [51]:
df_hslp=HS_LP.groupby(['product_name','category']).agg(Total_Quantity=('Total_Quantity','sum'),
                                         Unit_Cost=('Unit_Cost_USD','mean'),
                                          Unit_Price=('Unit_Price_USD','mean'),
                                          Total_Cost=('Total_Cost','sum'),
                                         Total_Sales=('Total_Sales','sum'),
                                         Gross_Profit=('Gross_Profit','sum'),
                                         Avg_volume=('Total_Quantity','mean'),
                                         volume_std=('Total_Quantity','std'))

In [52]:
df_hslp.head()

,,Total_Quantity,Unit_Cost,Unit_Price,Total_Cost,Total_Sales,Gross_Profit,Avg_volume,volume_std
product_name,category,,,,,,,,
A. Datum Advanced Digital Camera M300 Orange,Cameras and camcorders,46,10.00,10.08,460.00,463.68,3.68,3.066667,2.153624
A. Datum Consumer Digital Camera M300 Grey,Cameras and camcorders,39,9.67,10.01,377.13,390.39,13.26,3.000000,1.914854
A. Datum Ultra Compact Digital Camera M190 Azure,Cameras and camcorders,49,9.98,10.16,489.02,497.84,8.82,2.882353,2.420804
"Adventure Works 26"" 720p LCD HDTV M140 Black",TV and Video,134,9.94,10.43,1331.96,1397.62,65.66,2.977778,2.220656
Contoso 16GB New Generation MP5 Player M1650 blue,Audio,68,9.45,10.43,642.60,709.24,66.64,2.518519,2.063797

In [53]:
# Filling all N/A values  with zero
df_hslp['volume_std']= df_hslp['volume_std'].fillna(0)

# Creating lower and upperbounds
df_hslp['lower_bound'] = df_hslp['Avg_volume'] - (2 * df_hslp['volume_std'])
df_hslp['upper_bound'] = df_hslp['Avg_volume'] + (2 * df_hslp['volume_std'])

# creting shadow pricing with 5% increase og price
df_hslp['Shadow_Price']=df_hslp['Unit_Price']*1.05
# adding shadow vloume - as change in price results in volume changes(elasticity constant is -1.2(k))
# new_volume = old_volume *(1+(k * price_change))
df_hslp['Shadow_Volume']=(df_hslp['Total_Quantity']*(1+(-1.2*0.05)))

# Calculating new profit
df_hslp['new_profit']=(df_hslp['Shadow_Price']-df_hslp['Unit_Cost'])*(df_hslp['Shadow_Volume'])

In [63]:
# finding unique stores count for each product
store_counts = df.groupby(['product_name','category'])['storekey'].nunique().reset_index()
store_counts.columns = ['product_name','category', 'store_count']
store_counts.head()

,product_name,category,store_count
0,A. Datum Advanced Digital Camera M300 Azure,Cameras and camcorders,10
1,A. Datum Advanced Digital Camera M300 Black,Cameras and camcorders,7
2,A. Datum Advanced Digital Camera M300 Green,Cameras and camcorders,11
3,A. Datum Advanced Digital Camera M300 Grey,Cameras and camcorders,13
4,A. Datum Advanced Digital Camera M300 Orange,Cameras and camcorders,10

In [64]:
# merging stores counts with df_hslp
target_df=pd.merge(df_hslp,store_counts, on=['product_name','category'],how='left')

In [65]:
# adding avg shadow volume for each product 
target_df['avg_shadow_volume_per_store']=target_df['Shadow_Volume']/target_df['store_count']

# adding conditional column which specifies whether avg_shadow_volume_per_store is between CI
target_df['is_in_CI'] = target_df.apply(
    lambda x: (x['lower_bound'] < x['avg_shadow_volume_per_store'] < x['upper_bound']),
    axis=1
)

In [66]:
target_df['is_in_CI'].value_counts(normalize=True)

is_in_CI
True     0.974359
False    0.025641
Name: proportion, dtype: float64

- Out of 39 products 38 products were in CI after 5% increase in products prices
- We will implement the 5% hike on 38 products, but keep the current price for this 1 specific item to avoid customer churn.
- The back-testing phase validated the strategy for **97.4%** of the target high-volume products. One product was identified as an outlier, sitting outside the 2-standard-deviation confidence interval. By excluding this single high-risk item, the final recommendation provides a guaranteed profit while maintaining a 100\% safety rating against historical sales volatility."

In [68]:
predicted=target_df[target_df['is_in_CI']==True]
original=target_df[target_df['is_in_CI']==False]

In [69]:
predicted['is_in_CI'].value_counts()

is_in_CI
True    38
Name: count, dtype: int64

In [70]:
print(predicted['Gross_Profit'].sum())
print(predicted['new_profit'].sum())
hslp=(predicted['new_profit'].sum()-target_df['Gross_Profit'].sum())
hslp=hslp+original['Gross_Profit'].sum()
print(hslp)
Group_A=hslp

1877.19
3242.57042
1365.38042

A 5% price increase resulted in an additional profit of **$1,365**.

In [19]:
target_df[['new_profit','Gross_Profit','Total_Quantity','Shadow_Volume','Total_Sales',
           'Unit_Price','Shadow_Price','is_in_CI']][:10]

,new_profit,Gross_Profit,Total_Quantity,Shadow_Volume,Total_Sales,Unit_Price,Shadow_Price,is_in_CI
0,25.25216,3.68,46,43.24,463.68,10.08,10.5840,True
1,30.81273,13.26,39,36.66,390.39,10.01,10.5105,True
2,31.68928,8.82,49,46.06,497.84,10.16,10.6680,True
3,127.40854,65.66,134,125.96,1397.62,10.43,10.9515,True
4,95.97588,66.64,68,63.92,709.24,10.43,10.9515,True
5,35.76465,9.12,57,53.58,578.55,10.15,10.6575,True
6,41.79240,17.68,52,48.88,535.60,10.30,10.8150,True
7,36.45837,18.72,39,36.66,401.31,10.29,10.8045,True
8,23.89104,16.02,18,16.92,187.92,10.44,10.9620,True
9,67.28191,43.46,53,49.82,562.33,10.61,11.1405,True

# Low Sales High Profit products price adjustments

In [20]:
low_performance_margin=df['Total_Sales'].quantile(0.38)
low_performance_margin

24.28

In [21]:
high_performance_margin=df['Gross_Profit'].quantile(0.54)
high_performance_margin

12.52

In [22]:
target=df[(df['Total_Sales']<low_performance_margin) & (df['Gross_Profit']>high_performance_margin)]
target.shape

(187, 17)

In [23]:
tp=target['product_name'].drop_duplicates()
tp.shape

(27,)

In [24]:
LS_HP=df[df['product_name'].isin(tp)]

In [25]:
LS_HP.head()

,Customer_ID,Customer_Name,city,state,country,product_name,category,storekey,Store_State,Store_Country,Total_Quantity,Unit_Cost_USD,Unit_Price_USD,Total_Cost,Total_Sales,Gross_Profit,Gross_Margin
16157,276108,Ali Mahlum,Surrey,British Columbia,Canada,Litware Home Theater System 5.1 Channel M510 S...,TV and Video,9,Northwest Territories,Canada,7,5.06,11.33,35.42,79.31,43.89,0.55
16159,362120,Katherine Petty,Nanaimo,British Columbia,Canada,Litware Home Theater System 5.1 Channel M510 S...,TV and Video,8,Newfoundland and Labrador,Canada,2,5.06,11.33,10.12,22.66,12.54,0.55
16172,797634,Abele Lettiere,Corese Terra,Rieti,Italy,Litware Home Theater System 5.1 Channel M510 S...,TV and Video,28,Caltanissetta,Italy,2,5.06,11.33,10.12,22.66,12.54,0.55
16196,1680415,Jesus Ramirez,Manchester,New Hampshire,United States,Litware Home Theater System 5.1 Channel M510 S...,TV and Video,0,Online,Online,1,5.06,11.33,5.06,11.33,6.27,0.55
16207,1918342,Ricky Scott,Dulles,Virginia,United States,Litware Home Theater System 5.1 Channel M510 S...,TV and Video,62,South Dakota,United States,1,5.06,11.33,5.06,11.33,6.27,0.55

In [26]:
#ALl conditions of reccommendations are included
countries=['Netherlands', 'Italy', 'France','Australia']
categories=['TV and Video','Cameras and camcorders','Home Appliances']

same_df=LS_HP[~LS_HP['country'].isin(countries)]
same_df=same_df[~same_df['category'].isin(categories)]

LSHP=LS_HP[LS_HP['country'].isin(countries)]
LSHP=LSHP[LSHP['category'].isin(categories)]

In [27]:
df_lshp=LSHP.groupby(['product_name']).agg(Total_Quantity=('Total_Quantity','sum'),
                                         Unit_Cost=('Unit_Cost_USD','mean'),
                                          Unit_Price=('Unit_Price_USD','mean'),
                                          Total_Cost=('Total_Cost','sum'),
                                         Total_Sales=('Total_Sales','sum'),
                                         Gross_Profit=('Gross_Profit','sum'),
                                         Avg_volume=('Total_Quantity','mean'),
                                         volume_std=('Total_Quantity','std'))

In [28]:
print(df_lshp.shape)
df_lshp

(9, 8)

,Total_Quantity,Unit_Cost,Unit_Price,Total_Cost,Total_Sales,Gross_Profit,Avg_volume,volume_std
product_name,,,,,,,,
A. Datum SLR Camera M140 Pink,4,5.15,11.84,20.60,47.36,26.76,4.000000,NaN
A. Datum Ultra Compact Digital Camera M190 Grey,5,5.32,12.13,26.60,60.65,34.05,5.000000,NaN
"Adventure Works 37"" 1080p LCD HDTV M150W Brown",15,5.56,12.07,83.40,181.05,97.65,3.750000,1.707825
"Adventure Works 40"" LCD HDTV M690 Brown",9,5.20,12.05,46.80,108.45,61.65,3.000000,1.732051
Contoso General Soft Carrying Case E318 Blue,18,5.10,11.73,91.80,211.14,119.34,3.000000,2.280351
"Contoso SLR Camera 35"" X358 Blue",8,5.55,12.04,44.40,96.32,51.92,2.666667,1.527525
Fabrikam Business Videographer 2/3'' 17mm M280 Black,9,5.23,11.97,47.07,107.73,60.66,3.000000,2.645751
"Fabrikam SLR Camera 35"" X358 Gold",19,5.54,11.87,105.26,225.53,120.27,3.166667,2.639444
Litware Home Theater System 5.1 Channel M510 Silver,2,5.06,11.33,10.12,22.66,12.54,2.000000,NaN

In [29]:
# Filling all N/A values  with zero
df_lshp['volume_std']= df_lshp['volume_std'].fillna(0)

# Creating lower and upperbounds
df_lshp['lower_bound'] = df_lshp['Avg_volume'] - (2 * df_lshp['volume_std'])
df_lshp['upper_bound'] = df_lshp['Avg_volume'] + (2 * df_lshp['volume_std'])

# creating shadow pricing with 5% increase og price
df_lshp['Shadow_Price']=df_lshp['Unit_Price']*1
# adding shadow vloume - as change in price results in volume changes(elasticity constant is -1.2(k))
# new_volume = old_volume *(1+(k * price_change))
df_lshp['Shadow_Volume']=(df_lshp['Total_Quantity']*(1+(-1.2)*(0.0)))

# Calculating new profit
df_lshp['new_profit']=(df_lshp['Shadow_Price']-df_lshp['Unit_Cost'])*(df_lshp['Shadow_Volume'])

In [30]:
# finding unique stores count for each product
store_counts_1 = df.groupby('product_name')['storekey'].nunique().reset_index()
store_counts_1.columns = ['product_name', 'store_count']
store_counts_1.head()

                                   product_name  store_count
0   A. Datum Advanced Digital Camera M300 Azure           10
1   A. Datum Advanced Digital Camera M300 Black            7
2   A. Datum Advanced Digital Camera M300 Green           11
3    A. Datum Advanced Digital Camera M300 Grey           13
4  A. Datum Advanced Digital Camera M300 Orange           10

In [31]:
# merging stores counts with df_hslp
target_df1=pd.merge(df_lshp,store_counts_1, on='product_name',how='left')

In [32]:
# adding avg shadow volume for each product 
target_df1['avg_shadow_volume_per_store']=target_df1['Shadow_Volume']/target_df1['store_count']

# adding conditional column which specifies whether avg_shadow_volume_per_store is between CI
target_df1['is_in_CI'] = target_df1.apply(
    lambda x: (x['lower_bound'] < x['avg_shadow_volume_per_store'] < x['upper_bound']),
    axis=1
)

In [33]:
target_df1['is_in_CI'].value_counts()

is_in_CI
True     6
False    3
Name: count, dtype: int64

In [34]:
predicted1=target_df1[target_df1['is_in_CI']==True]
original1=target_df1[target_df1['is_in_CI']==False]

In [35]:
print(same_df['Gross_Profit'].sum()) #excluded countries - US,UK
print(predicted1['new_profit'].sum()) # true
print(original1['Gross_Profit'].sum())  #fasle
predict=same_df['Gross_Profit'].sum()+predicted1['new_profit'].sum()+original1['Gross_Profit'].sum()
real=same_df['Gross_Profit'].sum()+target_df1['Gross_Profit'].sum()

12003.52
511.49
73.35

In [36]:
result=(predict-real)
print(result)
Group_B=result

0.0

In [37]:
target_df1[['new_profit','Gross_Profit','Total_Quantity','Shadow_Volume','Total_Sales','Unit_Price','Shadow_Price','is_in_CI']]

,new_profit,Gross_Profit,Total_Quantity,Shadow_Volume,Total_Sales,Unit_Price,Shadow_Price,is_in_CI
0,26.76,26.76,4,4.0,47.36,11.84,11.84,False
1,34.05,34.05,5,5.0,60.65,12.13,12.13,False
2,97.65,97.65,15,15.0,181.05,12.07,12.07,True
3,61.65,61.65,9,9.0,108.45,12.05,12.05,True
4,119.34,119.34,18,18.0,211.14,11.73,11.73,True
5,51.92,51.92,8,8.0,96.32,12.04,12.04,True
6,60.66,60.66,9,9.0,107.73,11.97,11.97,True
7,120.27,120.27,19,19.0,225.53,11.87,11.87,True
8,12.54,12.54,2,2.0,22.66,11.33,11.33,False

In [38]:
print(Group_A+Group_B)

1365.38042

- Through back-testing and elasticity modeling, this analysis identified a dual-path pricing strategy.

- Out of 39 products only 1 porduct is not betwwen Confidence Interval(Outlier) and other 38 products are safe for price adjustmnts. For 38 high-volume products, a 5% price optimization was validated, and for 1 outlier product used old profit(Gross Porfit), yielding a projected profit increase of **$1365**.

- For 27 high-margin products, back-testing across multiple price-drop scenarios (1\%-5\%) confirmed that these items are price-insensitive. Consequently, the recommendation is to hold current pricing to protect margins, as volume stimulation via price-cuts is not mathematically viable.

- Total Project Impact: $1365 in immediate bottom-line growth and prevention of margin erosion on low sales high profit products.